#menu .active {border-bottom: 0px;}
.post-content a, .toc a:hover {
    box-shadow: 0 0px;
}
.logo a {
    font-size: 16px;
    font-weight: 500;
}
.logo a img {max-width: 50%; max-height: 50%;}
.nav a {text-transform: capitalize;}
.first-entry {min-height: 250px;}
.post-content {text-align: justify;}
.post-content .img {pointer-events: none !important;}
.post-tags a {font-size: 15px; text-transform: capitalize;}
.page-header h1 {font-size: 25px; text-transform: capitalize;}
.page-header  svg {height: 16px;}
.paginav {line-height: 21px;}
.paginav .title {font-size: 10px; letter-spacing: 0px;text-transform: uppercase;}
.paginav a {font-size: 15px;}
.footer a { border-bottom: 0px; }
.footer a:hover { border-bottom: 0px; }
.terms-tags a {text-transform: capitalize;}
.post-content {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 }
 @media print {
    html, body{
        display: none;
    }
 }